/*
/* Principal Stylesheet for Vermont Afterschool
/*


/*********************
/* COLORS  &  MIXINS
/*********************

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700')


$headingStack: 'Open Sans', sans-serif
$arial: 'Arial', sans-serif

// Colors
$lightgrey: #f2f2f2
$blue: #1a6e8e
$teal: #14aa93
$orange: #df5c26
$black: #f2f2f2
$darkblue: #004368
$bodytext: #2d2d2d

// Button Mixims
=button
  background: $teal
  font-size: 1.1rem
  color: #FFFFFF
  border: 2px solid $teal
  &:hover
    background: #fff
    border: 2px solid $teal
    color: $teal

=orangebutton
  background: $orange
  color: #fff
  border: 2px solid $orange
  //font-size: 1.25rem
  //padding: .5rem .75rem
  font-weight: bold
  &:hover
    background: #fff
    border: 2px solid $orange
    color: $orange

=hollowbutton
  background-color: transparent
  border: 1px solid $orange
  padding: .85rem 1rem
  color: #494949
  &:hover
    background-color: rgba(239, 122, 35, 0.41)
    color: #fff


=cssTransition($secs)
  transition: all $secs ease-in-out

=arrow($size, $color)
  border-top: $size solid transparent
  border-bottom: $size solid transparent
  border-left: $size solid $color
  display: inline-block
  height: 0
  width: 0

@keyframes push
  50%
    transform: scale(0.8)

@keyframes outandback
  50%
    transform: translateX(10px)
  100%
    transform: translateX(0)

/*********************
/* GENERAL STYLES
/*********************

*
  +cssTransition(.3s)

// Sets REM root size to 16px
html
  font-size: 100%

body
  color: $bodytext

label
  font-weight: bold
  color: #909090
  font-size: 1rem

div#wpcf7-f6070-p190-o1
  margin-top: 2rem

/*********************
/* LINK STYLES
/*********************
a, a:visited
  // Mobile tap color
  &:link
    //Highlight links on iOS, Similar to :hover for mobile devices.
    -webkit-tap-highlight-color: #3094b1
  &:hover
    color: #206a80

.entry-content a, p.tags a
  color: #3094b1
  &:hover
    color: #206a80

// Default Button
a.button
  text-transform: uppercase
  font-weight: bold
  +button
  .arrow
    +arrow(8px, #fff)
  &:hover
    .arrow
      +arrow(8px, $blue)

.wpcf7-submit
  background: #cccccc
  font-size: 1.25rem
  color: #FFFFFF
  border-radius: 5px
  font-weight: bold
  text-transform: uppercase
  border: 0
  padding: 0.85rem 1rem
  cursor: pointer
  &:hover
    color: #fff
    background-color: $teal

// Orange Button
.button.orange
  +orangebutton

/*********************
/* H1, H2, H3, H4, H5 P STYLES
/*********************
h1, .h1, h2, .h2, h3, .h3, .h4, h4, h5, .h5
  font-family: $headingStack
  font-weight: bold
  color: $blue

  // Removing text decoration from all headline links
  a
    text-decoration: none

h1, .h1
  line-height: 2.8rem

h2, .h2
  color: $orange
  font-size: 1.85rem

h3, .h3
  font-size: 1.5rem
  text-transform: uppercase
  font-weight: 600

h4, .h4
  font-weight: 400

h5, .h5
  font-weight: 400

p
  line-height: 1.5rem

ul.check
  list-style: none
  margin-left: 0
  li
    padding-left: 35px
    background: url(../images/greencheck.png) no-repeat 0px 2px
    background-size: 27px
    font-weight: bold
    margin-bottom: .25rem

blockquote
  font-size: 1.5rem
  font-weight: 300
  font-style: italic
  margin: 0 0 2rem
  position: relative
  border-left: 0
  p
    color: #868686
    position: relative
    &:after, &:before
      content: "\0022"
      position: absolute
      font-size: 1.5rem
    &:before
      left: -15px
  cite
    font-size: 1rem
    color: #515151

hr
  width: 70%
  margin: 3rem auto

select
  border: 1px solid $teal
  color: $blue

.search
  position: relative
  input
    text-indent: 32px
    border-radius: 25px
    border-color: $teal
  .fi-magnifying-glass
    position: absolute
    left: 12px
    font-size: 1.5rem
    color: $bodytext

.google-maps
  position: relative
  padding-bottom: 75% // This is the aspect ratio
  height: 0
  overflow: hidden
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100% !important
    height: 100% !important

.zc-live-primary-btn, .zc-formbutton, #ze_popups .ze_botpart input:first-child
  background-color: $blue
/*********************
/* HEADER
/*********************

.header
  .headerMain
    padding: 1rem 0
    .logo
      max-width: 400px
      padding: 1rem
    img.tagline
      padding-top: 2.5rem
      width: 220px
      h4
        font-size: 1rem
        color: #999
    .utility
      margin-top: 3rem
      #utility-links
        float: right
        li a
          text-transform: uppercase
          font-weight: bold
          color: $bodytext
          padding: .5rem .25rem
          font-size: .9rem
        li#menu-item-6169
          margin-top: .55rem
        li.search
          margin-top: .25rem
          cursor: pointer
          form#searchform
            width: 41px
            &.open
              input
                border: 1px solid $teal
            &:hover
              .fi-magnifying-glass
                color: $blue
            input
              border: 0
              box-shadow: none
          input[type="submit"]
            display: none
        i.fi-social-facebook
          color: $blue
          font-size: 2rem
          &:hover
            opacity: .75
        span.circle
          background: $blue
          border-radius: 50px
          height: 25px
          display: block
          width: 25px
          float: left
          position: relative
          margin-top: .2rem
          i
            color: #fff
            font-size: 1.35rem
            position: absolute
            top: 2px
            left: 5px
          &:hover
            opacity: .75

/* Main Nav */
.navWrap
  border-top: 1px solid #D1D1D1
  .top-bar
    ul#main-nav
      li
        a
          color: #616161
          font-weight: bold
          text-transform: uppercase
      li.donate
        a
          background-color: $orange
          color: #fff
  a.donate
    background-color: $orange
    border-bottom: 4px solid $orange
    padding: 0 30px
    color: #fff
    float: right
    height: 40px
    line-height: 40px
    font-weight: bold
    text-transform: uppercase
    &:hover
      transition: all .5s ease-in-out
      background-color: #f58024


/* Mega Nav */
#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item
  margin: 0 20px 0 20px
  &.donate
    background-color: $orange !important
    border-bottom: 4px solid $orange !important
    a
      color: #fff !important
    &:hover
      transition: all .5s ease-in-out
      background-color: #f58024
  & > ul.mega-sub-menu
    border-bottom: 1px solid #D1D1D1
  ul.mega-sub-menu li.highlight
    img
      width: 50%
    background-color: $lightgrey
  li.widget_nav_menu
    h4.mega-block-title
      & + div[class$="-container"]
        position: relative
        &:before
          content: ""
          width: 3rem
          background-color: $teal
          height: 3px
          position: absolute
          top: 0
          z-index: 50
  ul.mega-sub-menu ul.menu
    padding-top: 1.5rem
    li
      float: left
      display: block
      width: 100%
      margin: 0.25rem 0
      a
        color: $bodytext
        font-size: 1.2rem
        padding: .25rem 0
        &:hover
          color: #858585
    li.active a
      background-color: transparent
      color: $teal


// SIDEBAR
.sidebar
  div.widget
    border-bottom: 1px solid #89aebd
    padding-bottom: 1rem
    margin-bottom: 1rem
  h4.widgettitle
    text-transform: uppercase
    color: $teal
    font-weight: bold
    font-size: 1.25rem
  .widget_categories
    ul li.cat-item a
      color: $blue
      font-weight: bold
      &:hover
        text-decoration: underline
  #sidebar-images, .sidebarACF
    padding: 1rem 0
    border-bottom: 1px solid #89aebd
    margin-bottom: 1rem


/*********************
/* HOMEPAGE
/*********************

body.home
  main
    margin-bottom: 0

#hero
  width: 100%
  position: relative
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  min-height: 500px
  #heroTitle
    position: absolute
    bottom: 50px
    color: #fff
    span.intro
      font-size: 1.5rem
      text-transform: uppercase
      font-weight: 500
    span.outro
      font-size: 2rem
    h4
      color: #fff
      font-weight: 700
      font-size: 4rem
      line-height: 3.5rem

// Orbit
.orbit
  width: 100%
  height: 35%
  figcaption
    background: transparent
    padding: 2rem 4rem
    text-shadow: 0px 0px 8px #2d2d2d
    span.intro
      font-size: 1.5rem
      text-transform: uppercase
      font-weight: 500
    span.outro
      font-size: 2rem
    h4
      color: #fff
      font-weight: 700
      font-size: 4rem
      line-height: 3.5rem
  .orbit-previous, .orbit-next
    font-size: 2rem
  .orbit-previous
    left: 2rem
  .orbit-next
    right: 2rem
  nav.orbit-bullets
    position: absolute
    bottom: -45px
    width: 100%
    z-index: 200
    cursor: pointer


.home-1, .home-2, .home-3
  padding: 2rem
  border-bottom: 2px solid #e2e2e2
  text-align: center
  h2
    color: $orange
    font-size: 2.1rem

.firstWrapper, .secondWrapper, .thirdWrapper
  position: relative
  .arrow
    position: absolute
    height: 0
    width: 0

.firstWrapper
  .arrow
    bottom: 0
    left: 0
    border-right: 80px solid transparent
    border-top: 80px solid transparent
    border-bottom: 101px solid $teal
    border-left: 60px solid $teal
  .home-1
    text-align: center
    padding: 3rem 0 3rem
    p
      font-size: 1.2rem
      line-height: 1.8rem
      position: relative
      z-index: 100

.secondWrapper
  .arrow
    top: 0
    right: 0
    border-right: 60px solid $orange
    border-top: 101px solid $orange
    border-bottom: 101px solid transparent
    border-left: 60px solid transparent
  .home-2
    padding: 7rem 0 3rem
    background: url('../images/kids.jpg') no-repeat 17% 100%

.thirdWrapper
  .arrow
    bottom: 0
    left: 0
    border-right: 80px solid transparent
    border-top: 80px solid transparent
    border-bottom: 101px solid $blue
    border-left: 60px solid $blue
  .home-3
    padding: 7rem 0 3rem


.noteWrapper
  background-color: #F1F5F8
  .noteworthy
    padding: 2rem 0 3.5rem
    .header
      margin-bottom: 1rem
      h5
        font-weight: normal
        float: left
      .pagination
        float: right
    .post
      color: #192f5a
      h2
        font-size: 1.75rem
        font-weight: 400
        line-height: 2.1rem
        margin-top: .5rem
        &:hover
          text-decoration: underline
      .cat
        text-transform: uppercase
        color: $teal
        font-weight: bold
      .meta
        font-weight: 500
        padding-bottom: 1rem
        display: block
      p
        margin-bottom: 0

/*********************
/* PAGE TEMPLATE
/*********************

div.page-header
  width: 100%
  background: rgb(243,244,247)
  border-top: 1px solid rgb(217,217,217)
  padding: 1.5rem
  margin-bottom: 2rem
  .article-header
    margin: 0 1.5rem
    h1
      font-size: 2.5rem
main
  margin-bottom: 3rem

.pageIntro
  div.page-header
    text-align: center
    padding: 3.5rem
    .introText
      width: 75%
      margin: 1rem auto 0
      p
        font-size: 1.45rem
        line-height: 1.95rem
        color: #6B6B6B
      .anchors a
        font-size: 1.25rem


.stories.grid-x.grid-padding-x
  background-color: #f3f3f3
  padding: 2rem
  margin-bottom: 4rem
  .cell.story
    background: $teal
    padding: 3rem
    color: #fff
    border-radius: 4px
    h2
      color: #fff
    blockquote
      font-size: 2rem
      /* font-weight: bold; */
      color: #fff
      line-height: 2.2rem
      border-left: 0

/*********************
/* SINGLE TEMPLATE
/*********************
body.single
  h1.single-title
    font-size: 2.25rem
  .byline
    background-color: #f3f4f7
    padding: 5px 10px
    display: inline-block
    border-left: 5px solid #77c79c


/*********************
/* VT9to26 TEMPLATE
/*********************

body.page-template-vtot
  div.vtot
    background-color: $teal
    padding-top: 1rem
    img
      width: 55%
      margin: 0 auto
      display: block

/*********************
/* CONFERENCE TEMPLATE
/*********************

body.page-template-template-conference
  .page-header
    margin-bottom: 0
    background-color: $blue
    h1, .confLead
      color: #fff
  .confNav
    margin-bottom: 2rem
    .menu-conference-nav-container
      margin: 0 auto
      background-color: #156c8c
      position: relative
      &:before
        content: ""
        position: absolute
        top: 0
        left: -38px
        border-left: 19px solid transparent
        border-top: 19px solid #c5d6dc
        border-bottom: 19px solid transparent
        border-right: 19px solid #c5d6dc
      &:after
        content: ""
        position: absolute
        top: 0
        right: -38px
        border-right: 19px solid transparent
        border-top: 19px solid #c5d6dc
        border-bottom: 19px solid transparent
        border-left: 19px solid #c5d6dc
      ul li a
        color: #fff
        text-transform: uppercase
        &:hover
          color: #c5d6dc
      #conference-nav.menu .active a
        background-color: #00a892
        color: #fefefe

/*********************
/* IMPACT TEMPLATE
/*********************
body.page-template-template-impact
  header.article-header
    margin: 0 auto
  .dataPoints .cell
    margin-bottom: 2rem
  .bigNumber
    font-family: $headingStack
    float: left
    width: 25%
    font-size: 4rem
    font-weight: bold
    color: #b7b9bf
    line-height: 4rem
    letter-spacing: -4px
  .dataSummary
    width: 70%
    float: left
    text-align: left
    font-size: 1.15rem
    line-height: 1.5rem
    margin-left: 2.5%
    color: #878787
  // Special cases
  .dataPoints .cell:nth-of-type(3)
    .bigNumber
      width: 40%
    .dataSummary
      width: 55%


/*********************
/* Mailchimp
/*********************

.input-group
  ul
    list-style-type: none

/*********************
/* FOOTER
/*********************

.footer
  margin-top: 0
  .footerTopWrap
    background-color: $darkblue
    .top-footer
      color: #FFF
      .newsletter
      img.graphic
        height: 107px
        float: left
      h4
        color: #fff
        float: left
        padding: 2rem
        font-size: 1.8rem
        font-weight: 500
        margin-bottom: 0
      i.fi-arrow-right
        font-size: 2rem
        margin-left: 1rem
        margin-right: 1rem
      .button.footer
        margin: 2rem 2rem 2rem 0
        &:hover
          background-color: $darkblue
          color: #fff
      .social
        a
          float: right
          padding-right: 1rem
        i.fi-social-facebook
          float: left
          height: 40px
          color: #fff
          font-size: 3rem
          padding-top: 1rem
          &:hover
            opacity: .75
        span.circle
          background: #fff
          border-radius: 50px
          height: 40px
          display: block
          width: 40px
          float: left
          position: relative
          margin-left: .5rem
          margin-top: 2rem
          i.fi-social-twitter
            color: $darkblue
            font-size: 2.2rem
            padding-left: .5rem
            position: absolute
            top: -6px
            left: 0px
          &:hover
            opacity: .75

  .bottom-footer
    margin-top: 2.5rem
    font-size: .85rem
    color: #192f5a
    h3
      color: $darkblue
      font-size: 1.5rem
    p
      line-height: 1.2rem
    .quickLinks
      list-style-type: none
      text-transform: uppercase
      margin-left: 0
      li a
        color: $blue
        &:hover
          opacity: .75
